
/**********************************************************************
*   Defines mouse cursor
**********************************************************************/
.cursorArrow{ cursor: default; }
.cursorHand { cursor: pointer; }
.cursorHelp { cursor: help;    }
